/*

My Custom CSS
=============

Author:  C K Ashby
Updated: August 2015

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#topMenu {
    text-align: center;
}

#topMenu img {
    margin: 1px 1px 1px 1px;
}

#bottomMenu {
    text-align: center;
}

#bottomMenu img {
    margin: 10px 10px 10px 10px;
}



/* --------------------------------------
   Typography
   -------------------------------------- */
   body {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
   }

   .well .page-header {
      margin-top: 0;
   }

   .well .page-header .h1 {
      margin-top: 0;
   }



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   #searchInput {
      width: 200px;
   }

   .navbar-brand {

   }

   #accountDropdown {}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Landscape tablet or medium sized device */
@media (max-width: 992px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}